@font-face {
    font-family: 'Disket Mono';
    src: url('Fonts/Disket-Mono-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Nothing';
    src: url('Fonts/nothing-font.ttf') format('truetype');
}

@font-face {
    font-family: 'Plexiglass';
    src: url('Fonts/Plexiglass.ttf') format('truetype');
}

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* Стили для области с прокруткой */
html {
    overflow-y: scroll; /* Всегда показывает вертикальную полосу прокрутки */
}

/* Общие стили */
body {
    overflow-y: auto; /* Позволяет прокручивать содержимое */
    font-family: 'Roboto', sans-serif; 
    color: white;
    background-image: url('image/background/GameGuildBackground(3).png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
}


header {
    position: fixed; /* Фиксированное позиционирование */
    top: 0; /* Заставляет заголовок прилипать к верхней части экрана */
    left: 0; /* Обеспечиваем, что заголовок будет слева */
    right: 0; /* Обеспечиваем, что заголовок будет вправо */
    z-index: 1000; /* Слой выше других элементов */
    background-color: rgb(215, 181, 24); /* Фон заголовка */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

    header h1 {
        margin: 0;
        font-size: 1.5em;
        color: white;
        font-family: 'Disket Mono', monospace;
        line-height: 1.2;
        text-align: left; /* Выравнивание текста по левому краю */
        padding-left: 20px; /* Отступ слева для заголовка */
    }


/* При необходимости добавьте стиль для текста, который будет под заголовком */
.header-text {
    color: white; /* Белый цвет для текста под заголовком */
    font-size: 1.2em; /* Размер шрифта для текста под заголовком */
    font-family: 'Roboto', sans-serif; /* Шрифт для текста под заголовком */
    margin-top: 5px; /* Отступ сверху для текстового элемента */
}

.letter-g {
    color: black; /* Цвет буквы "G" */
    font-size: 1.5em; /* Увеличенный размер шрифта для букв G */
}

nav {
    display: flex; /* Flex-контейнер для навигации */
    align-items: center; /* Центрируем кнопки навигации по вертикали */
    justify-content: center; /* Центрируем кнопки навигации по горизонтали */
    flex-grow: 1; /* Даем возможность nav занять всю оставшуюся ширину */
}


.main-nav {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

    .main-nav a {
        margin: 0 10px;
        color: #fff;
        text-decoration: none;
    }

.auth-nav {
    display: flex;
    align-items: center; /* Центрируем ячейку с аватаром и кнопками */
}

    .auth-nav a, .auth-nav button {
        margin-left: 10px;
        color: #fff;
        background-color: rgb(22, 27, 29);
        border: none;
        padding: 10px 15px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
        font-family: 'Nothing';
    } 

        .auth-nav a:hover, .auth-nav button:hover {
            background-color: #444;
        }

nav a {
    margin: 0 15px; /* Отступы между кнопками */
    color: #fff; /* Цвет текста кнопок */
    text-decoration: none;
    font-family: 'Nothing';
    padding: 10px 15px; /* Отступы для кнопок */
    background-color: rgb(22, 27, 29); /* Цвет фона кнопок */
    border-radius: 5px; /* Закругленные углы для кнопок */
    transition: background-color 0.3s; /* Плавный переход цвета фона */
    cursor: pointer;
}


    nav a:hover {
        background-color: #444; /* Цвет фона кнопок при наведении */
    }

.container {
    padding: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8); /* Черный цвет с 80% непрозрачностью (20% прозрачности) */
    width: 80%;
    max-width: 1200px;
    margin: 20px auto; /* Убедитесь, что это сохраняет центральное выравнивание */
    border-radius: 10px;
    margin-top: 300px; /* Вы можете увеличить значение для расстояния ниже заголовка */
    min-height: 50px;
    padding-top: 70px; /* Это обеспечит отступ выше контейнера, чтобы он не перекрывался заголовком */
}
/* Стили для анимации перехода */
.container {
    opacity: 0; /* Начальное состояние: скрыто */
    transform: translateY(20px); /* Немного смещаем вниз */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Параметры анимации */
    display: none; /* Изначально скрываем все контейнеры */
}

    .container.visible {
        opacity: 1; /* Полная видимость */
        transform: translateY(0); /* Возвращаем в исходное положение */
        display: block; /* Ставим блок в видимую область */
    }

    .dynamic-article-section {
    margin-bottom: 15px;
}

.article-title {
    font-size: 1.5em; /* Размер шрифта для заголовка */
    color: #333; /* Цвет заголовка */
    margin: 0 0 10px; /* Отступы */
    color: white;
}

.article-content {
    font-size: 1em; /* Размер шрифта для содержания */
    color: #666; /* Цвет текста */
    margin: 0 0 10px; /* Отступы */
}

.article-image-container {
    margin-right: 10px;
}

.article-preview {
    display: flex;
    align-items: center;
    background-color: rgb(0, 0, 0);
    border: 1px solid #444;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(215, 181, 24);
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.3s;
    width: 90%;
    max-width: 600px;
    margin: 10px 0;
    position: relative;
}

.article-title {
    font-size: 1.2em;
    margin: 0;
}
.article-content {
    flex-grow: 1;
}
.article-image {
    width: 120px;
    height: 80px;
    border-radius: 5px;
}

.article-image-container {
    margin-right: 10px;
}
    .article-preview:hover {
        transform: scale(1.03);
        box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
    }

    .article-preview img {
    width: 120px;
    height: 80px;
    border-radius: 5px;
    margin-right: 10px;
    }

    .article-preview .article-title {
        font-size: 1.2em;
        margin: 0;
    }

        .article-preview .article-title:hover {
            color: #FFD700;
        }

    .article-preview .article-content {
        display: flex;
        flex-direction: column;
    }

.add-feedback-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 3px;
    cursor: pointer;
}

    .add-feedback-button:hover {
        background-color: #0056b3;
    }

.comment-form {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    box-sizing: border-box;
}

.recent-articles-slider {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    width: 100%;
    max-width: 2000px;
    margin: 20px auto;
}

.recent-articles-slider-content {
    display: flex;
    transition: transform 0.5s ease;
}

.recent-article-block {
    width: calc(100% / 3 - 20px);
    margin: 0 10px;
    flex-shrink: 0;
    background-color: rgba(25, 25, 25, 0.7); /* Полупрозрачный фон для статей */
    border-radius: 10px; /* Закругление углов */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Добавление тени */
    overflow: hidden; /* Элемент, который обрезает выходящие за пределы содержимое */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Плавный переход для трансформации и тени */
}

    .recent-article-block:hover {
        transform: scale(1.05); /* Увеличение элемента при наведении */
        box-shadow: 0 0 15px rgba(255, 255, 255, 0.8); /* Изменение тени на белый цвет при наведении */
    }

.article-image-container {
    overflow: hidden; /* Обрезаем содержимое, выходящее за пределы контейнера */
    position: relative; /* Позволяет позиционировать дочерние элементы */
}

.recent-article-block img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    transition: transform 0.3s ease; /* Плавный переход */
}

.article-image {
    width: 100%; /* Автоматическая ширина, чтобы вписаться в блок */
    height: auto; /* Автоматическая высота, чтобы сохранить пропорции */
    display: block; /* Блоковый элемент для корректного отображения */
    border-radius: 8px; /* Углы картины могут быть закруглены */
}

.article-slide {
    cursor: pointer; /* Указатель курсора для интерактивного элемента */
    text-align: center; /* Центрируем текст */
}

.article-block {
    display: flex; /* Позволяет размещать элементы внутри блока статей */
    align-items: center;
    background-color: rgb(0, 0, 0);
    border: 1px solid #444;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(215, 181, 24);
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.3s; /* Добавление перехода для тени */
    width: 90%; /* Установка ширины блока статьи */
    max-width: 600px; /* Максимальная ширина блока статьи */
    margin: 10px 0; /* Вертикальные отступы между блоками статей */
}

    .article-block:hover {
        transform: scale(1.03); /* Увеличение элемента при наведении */
        box-shadow: 0 0 15px rgba(255, 255, 255, 0.8); /* Изменение тени на белый цвет при наведении */
    }

.article-time {
    font-size: 0.8em; /* Меньший размер шрифта для даты */
    color: #ccc; /* Цвет текста даты остается светлым */
    margin-top: 5px; /* Отступ сверху */
    text-align: center; /* Центрируем дату статьи */
}

.recent-article-title {
    position: relative; /* Убедитесь, что позиционирование относительное для заголовка */
    font-weight: bold; /* Увеличение жирности шрифта */
    color: white; /* Начальный цвет текста */
    background-color: rgba(0, 0, 0, 0.7); /* Фон для заголовка */
    padding: 10px; /* Отступы для заголовка */
    transition: color 0.3s; /* Плавный переход цвета при наведении */
}
    .recent-article-title:hover {
        color: #FFD700; /* Цвет заголовка меняем на желтый при наведении */
    }

.recent-article-category {
    font-size: 0.8em; /* Уменьшенный размер категории */
    color: #555; /* Цвет категории оставляем светлым для удобства */
}

.slide-image {
    max-width: 100%; /* Ограничиваем ширину изображения */
    border-radius: 10px; /* Скругление углов для изображений в слайдере */
}

.slider-button {
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
    color: white; /* Цвет текста */
    border: none; /* Без рамки */
    padding: 10px; /* Отступы */
    cursor: pointer; /* Курсор указателя */
    position: absolute; /* Абсолютное позиционирование */
    top: 50%; /* Центрируем по вертикали */
    transform: translateY(-50%); /* Центрирование */
    z-index: 1000; /* Выровнять по слою выше слайдера */
    border-radius: 5px; /* Закругление кнопок */
    transition: background-color 0.3s; /* Плавный переход фона */
}

    .slider-button:first-of-type {
        left: 10px; /* Левый отступ для первой кнопки */
    }

    .slider-button:last-of-type {
        right: 10px; /* Правый отступ для второй кнопки */
    }

    .slider-button:hover {
        background-color: rgba(0, 0, 0, 0.8); /* Увеличьте непрозрачность при наведении */
    }

.articles-grid {
    display: flex; /* Используем flex для выстраивания в строку */
    flex-direction: column; /* Вертикальное направление для блока статей */
    align-items: flex-start; /* Выравниваем блоки статьи слева */
    margin-left: 20px; /* Отступ слева от контейнера */
}

.article-block:hover {
    transform: scale(1.02);
}

.article-block img {
    width: 120px; /* Ширина изображения */
    height: 80px; /* Высота изображения */
    border-radius: 5px; /* Скругление углов изображения */
    margin-right: 10px; /* Отступ справа от изображения */
}

.article-title {
    font-size: 1.2em;
    margin: 0;
}
    .article-title:hover {
    color: #FFD700; /* Цвет заголовка меняем на желтый при наведении */
    }

.article-content {
    display: flex; /* Внутреннее выравнивание */
    flex-direction: column; /* Стековой порядок картинка-содержимое */
}

#full-article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#full-article-title {
    font-size: 2em; /* Настройте размер шрифта по вашему усмотрению */
    line-height: 1.2; /* Высота строки для лучшей читаемости */
    word-wrap: break-word; /* Позволяет переносить длинные слова */
    overflow-wrap: break-word; /* Современный аналог word-wrap */
    hyphens: auto; /* Автоматически добавляет переходы на указателях, если это возможно */
    margin: 0; /* Убираем внешние отступы, если необходимо */
    text-align: left; /* Выравнивание по центру, при желании */
    color: ghostwhite;
}

#full-article-content {
    max-width: 800px;
    text-align: justify;
    color: white;
    margin: 0 auto;
    font-size: 18px;
}

    #full-article-content a {
        color: yellow; /* Красный цвет текста для ссылок */
        text-decoration: none; /* Убираем подчеркивание из ссылок */
    }

footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: white; /* Цвет текста в подвале белым */
}
main-article-title
#editor-container {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
}

.ql-editor {
    min-height: 400px;
    color: white;
}

.main-article {
    text-align: center; /* Центрируем содержимое */
    margin: 40px auto; /* Добавляем отступы для пространства */
    width: 100%; /* Ширина на 100% */
    max-width: 1280px; /* Ограничиваем максимальную ширину */
    position: relative; /* Позволяет позиционировать текст */
}

.main-article-title {
    position: absolute; /* Позволяет позиционировать заголовок поверх изображения */
    bottom: 10%; /* Отступ снизу */
    left: 20px; /* Выровнять по левому краю */
    right: 0; /* Выровнять по правому краю */
    color: white; /* Цвет текста заголовка белый */
    text-align: left; /* Центрируем текст */
    font-size: 2em; /* Увеличенный размер шрифта для заголовка */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Тень для текста */
    hyphens: auto; /* Автоматически добавляет переноса на указателях, если это возможно */
    overflow-wrap: break-word; /* Современный аналог word-wrap */
}

.main-article-image-container {
    position: relative; /* Позиционирование для заголовка */
    width: 100% auto; /* Ширина контейнера изображения 100% */
    overflow: hidden; /* Обрезаем содержимое, выходящее за пределы контейнера */
    margin: -109px auto;
}

    .main-article-image-container img {
        transition: transform 0.3s ease; /* Плавный переход */
    }

        .main-article-image-container img:hover {
            transform: scale(1.05); /* Увеличиваем изображение на 5% */
        }

.main-article-image {
    width: 1200px; /* Ширина изображения */
    height: 424px; /* Высота изображения */
    object-fit: cover; /* Обрезка изображения для правильного отображения */
    border-radius: 15px; /* Скругление углов изображения (по желанию) */
}

.main-article-content {
    font-size: 16px; /* Размер шрифта текста статьи */
    margin-top: 10px; /* Отступ сверху перед текстом */
    color: white; /* Цвет текста статьи белый */
}

.main-article-text {
    position: absolute; /* Позволяет позиционировать текст поверх изображения */
    bottom: 10%; /* Отступ снизу для текста */
    left: 0; /* Выровнять по левому краю */
    right: 0; /* Выровнять по правому краю */
    color: white; /* Цвет текста белый */
    text-align: center; /* Центрируем текст */
    font-size: 2em; /* Увеличенный размер шрифта для заголовка */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Тень для текста */
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон для текста */
    padding: 10px; /* Отступы вокруг текста */
    border-radius: 10px; /* Закругление углов фона текста */
}

/* Стили для форм */
.admin-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

/* Стили для выбора файла */
.file-upload {
    position: relative;
    display: inline-block;
}

    .file-upload input[type="file"] {
        opacity: 0;
        position: absolute;
        z-index: -1;
    }

.file-button {
    display: inline-block;
    background-color: rgb(22, 27, 29);
    color: #fff;
    padding: 10px 15px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%; /* Чтобы кнопка заполняла ширину контейнера */
    text-align: center; /* Центрируем текст */
}

    .file-button:hover {
        background-color: #444;
    }

/* Стили для выбора категории и главной статьи */
select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: rgba(55, 62, 64, 0.8);
    color: #fff;
    appearance: none; /* Убираем стандартные стили */
    background-image: url('image/icons/arrow-down.svg'); /* Иконка стрелки */
    background-repeat: no-repeat;
    background-position: right 10px center; /* Позиция иконки */
    background-size: 15px; /* Размер иконки */
}

/* Стили для формы регистрации/авторизации */
#auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 400px;
    margin: 10px auto;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: rgba(55, 62, 64, 0.8);
    color: #fff;
}

#avatar-upload {
    margin-top: 5px;
}

/* Стили для аватарки */
#avatar-image {
    width: 100px; /* или другие нужные вам размеры */
    height: 100px; /* поддерживайте одинаковые значения ширины и высоты для круглых аватаров */
    object-fit: cover; /* чтобы изображение заполняло контейнер, сохраняя пропорции */
    border-radius: 50%; /* для круглых аватаров */
    margin-top: 10px;
}

/* Кнопки для регистрации и авторизации */
.btn {
    background-color: rgb(22, 27, 29);
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%; /* Заполняет всю ширину */
    max-width: 200px; /* Максимальная ширина */
}

    .btn:hover {
        background-color: #444;
    }

/* Сообщения */
.admin-message {
    margin: 10px 0;
    color: #FFD700;
}

h2 {
    color: #FFD700;
}

h3 {
    color: #FFD700;
}

/* Стили для существующих статей */
.existing-article {
    background-color: rgba(55, 62, 64, 0.8);
    border: 1px solid #444;
    margin: 10px 0;
    padding: 15px;
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
    transition: background-color 0.3s;
}

    .existing-article:hover {
        background-color: rgba(75, 82, 84, 0.9);
    }

    .existing-article h4 {
        margin: 0;
    }

    .existing-article button {
        margin: 5px;
        padding: 5px 10px;
        background-color: #FFD700;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

        .existing-article button:hover {
            background-color: #FFC700;
        }

#recent-activities {
    list-style-type: none; /* Убираем маркеры списка */
    padding: 0; /* Убираем отступы */
    color: #ccc; /* Цвет текста списка */
}

    #recent-activities li {
        background: rgba(30, 34, 36, 0.7); /* Полупрозрачный фон для элементов списка */
        margin: 5px 0; /* Отступы между элементами списка */
        padding: 10px; /* Паддинг для элементов списка */
        border-radius: 5px; /* Скругления углов элементов списка */
    }

.hidden {
    display: none; /* Или использование display: none для скрытия */
}

.crop-area {
    position: absolute;
    width: 200px; /* Ширина области обрезки в круге */
    height: 200px; /* Высота области обрезки в круге */
    border: 2px dashed rgba(255, 255, 255, 0.7); /* Оформляем область обрезки */
    border-radius: 50%; /* Оформляем круг */
    pointer-events: none; /* Отключаем события у области обрезки */
}

/* Стили для контейнера обрезки */
#crop-container {
    display: none;
    margin-top: 10px;
    position: relative; /* Убедитесь, что это значение установлено */
    width: 100%; /* Задайте ширину 100%, чтобы заполнить контейнер */
    max-width: 400px; /* Установите максимальную ширину, если необходимо */
    height: auto; /* Высота может быть автоматической */
}

/* Стили канваса для обрезки */
#crop-canvas {
    width: 100%;
    height: 100%;
}

#cropped-image {
    width: 100px; /* или другие нужные вам размеры */
    height: 100px; /* поддерживайте одинаковые значения ширины и высоты для круглых аватаров */
    object-fit: cover; /* чтобы изображение заполняло контейнер, сохраняя пропорции */
    border-radius: 50%; /* для круглых аватаров */
    margin-top: 10px;
    display: none; /* Скрыть до обрезки */
}

.crop-buttons {
    display: flex;
    justify-content: center; /* Центрируем кнопки внутри контейнера */
    margin-top: 20px; /* Отступ сверху для кнопок */
}

    .crop-buttons button {
        margin: 0 10px; /* Отступ между кнопками */
        padding: 10px 15px; /* Отступы внутри кнопок */
        height: 40px; /* Фиксированная высота кнопок */
        border: none; /* Убираем стандартные рамки */
        border-radius: 5px; /* Скругляем углы */
        background-color: rgb(22, 27, 29);
        color: white; /* Цвет текста */
        cursor: pointer; /* Стиль курсора при наведении */
        transition: background-color 0.3s; /* Плавный переход цвета фона */
    }

        .crop-buttons button:hover {
            background-color: #444; /* Цвет кнопок при наведении */
        }

.profile-container {
    position: relative; /* Для позиционирования меню относительно аватарки */
}

.profile-avatar {
    width: 40px; /* Размер аватара */
    height: 40px; /* Размер аватара */
    border-radius: 50%; /* Круглая форма */
    cursor: pointer; /* Указатель курсора */
    margin-left: 10px; /* Отступ слева от аватара */
    border: 5px solid black; /* Черная обводка */
    transition: border-color 0.3s ease; /* Плавный переход цвета обводки */
}

    .profile-avatar:hover {
        border-color: #FFD700; /* Желтая обводка при наведении */
    }

.profile-menu {
    position: absolute; /* Позиционирование меню */
    top: 50px; /* Расположение ниже аватарки */
    right: 0; /* Выровнять по правому краю */
    background-color: rgba(22, 27, 29, 0.9); /* Фон меню */
    border-radius: 5px; /* Закругление углов */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Тень для меню */
    z-index: 1000; /* Поверх других элементов */
}

    .profile-menu a {
        display: block; /* Сделать ссылки блочными */
        padding: 10px; /* Отступы */
        color: white; /* Цвет текста */
        text-decoration: none; /* Убираем подчеркивание */
    }

        .profile-menu a:hover {
            background-color: #444; /* Фон при наведении */
        }

.hidden {
    display: none; /* Скрываем элемент */
}
